* {
  margin: 0;
  padding: 0;
}

div {
	box-sizing: border-box;
}

body {
	font-family: 'Poiret One', cursive;
	background: #47b2ff;
}


.block {
	width: 200px;
	height: 200px;
	background-color: pink;
	margin: 200px auto;
	border-radius: 100%;
	transition: all 0.5s;
	text-align: center;
  padding-top: 90px;
}


.block:hover {
	transform: scale(0.95);
}
